project:
  type: website
  output-dir: docs

website:
  title: "Amelia Wands Portfolio"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: Projects.qmd
        text: Projects

format:
  html:
    theme:
      light: flatly
      dark: superhero
    css: styles.css
    toc: true

editor: visual

